{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <h1>Votre Reservation</h1>

    <table>
        <tbody>
            <tr>
                <th>Date depart</th>
                <td>{% if reservationBusiness.dateDepart %}{{ reservationBusiness.dateDepart|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Point depart</th>
                <td>{{ reservationBusiness.pointDepart }}</td>
            </tr>
            <tr>
                <th>Destination</th>
                <td>{{ reservationBusiness.destination }}</td>
            </tr>
            <tr>
                <th>Date Reservation</th>
                <td>{% if reservationBusiness.dateReservation %}{{ reservationBusiness.dateReservation|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Nom Client</th>
                <td>{{ reservationBusiness.nomClientEntreprise }}</td>
            </tr>
            <tr>
                <th>Prenon Client</th>
                <td>{{ reservationBusiness.prenonClientEntreprise }}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <div>
            <input type=button onclick=window.location.href="{{ path('reservationbusiness_index') }}"; value="Retour au Historique" />
        </div>
        <div>
            <input type=button onclick=window.location.href="{{ path('reservationbusiness_edit', { 'idResBusiness': reservationBusiness.idResBusiness }) }}"; value="Editer" />
        </div>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </center>
{% endblock %}
