{% extends 'base.html.twig' %}

{% block content %}
    <h1>Coli</h1>

    <table>
        <tbody>
            <tr>
                <th>Idcolis</th>
                <td>{{ coli.idColis }}</td>
            </tr>
            <tr>
                <th>Poids</th>
                <td>{{ coli.poids }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ coli.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('colis_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('colis_edit', { 'idColis': coli.idColis }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
