<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon-->
    <link rel="shortcut icon" href="img/fav.png">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>Taxi</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="{{ asset('css/linearicons.css') }}">
    <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
    <link rel="stylesheet" href="{{ asset('css/nice-select.css') }}">
    <link rel="stylesheet" href="{{ asset('css/animate.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>



{% block header %}
    <header id="header">
        <div class="header-top">
         <img class="menu-top" src="{{ asset('img/menu-top.png')}}" alt="">
        <div class="container main-menu">
            <div class="row align-items-center justify-content-between d-flex">
                <a href=""><img src="{{ asset('img/wassalni.png')}}" alt="" title="" /></a>
                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li class="menu-has-children"><a href="">Reserver votre chauffeur</a>
                            <ul>
                                <li><a href="{{ path('rootpassager') }}">Passager</a></li>
                                <li><a href="{{ path('root') }}">Colis</a></li>
                            </ul>
                        </li>
                        <li><a href="">Actualités</a></li>
                            <li><a href="{{ asset('/PI_Webwassalni/web/app_dev.php/Reclamation/Ajouter') }}">Reclamer</a></li>
                        <li><a href="{{ asset('/PI_Webwassalni/web/app_dev.php/Reclamation/Afficher/Reclamation') }}">Liste Reclamation</a></li>
                        <li><a href="">Voyage</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href="">Promotion</a></li>
                        <li><a href="">Forum</a></li>
                        <li><a href="">About US</a></li>
                        <li> <div>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                    <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                    </a>
                                {% else %}
                                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                                {% endif %}
                            </div></li>

                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>
     </div>
    </header><!-- #header -->

{% endblock %}


{% block content %}
    <br>
    <br>
    <br>
    <br>
    <section class="image-gallery-area section-gap">
        <div class="container">
            <div class="row section-title">
                <h1>Galerie d'images que nous aimons partager</h1>
                <p>Qui sont extrêmement amoureux du système écologique.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 single-gallery">
                    <a href="{{ asset('img/g1.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g1.jpg')}}img/g1.jpg" alt=""></a>
                    <a href="{{ asset('img/g4.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g4.jpg')}}" alt=""></a>
                </div>
                <div class="col-lg-4 single-gallery">
                    <a href="{{ asset('img/g2.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g2.jpg')}}" alt=""></a>
                    <a href="{{ asset('img/g5.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g5.jpg')}}" alt=""></a>
                </div>
                <div class="col-lg-4 single-gallery">
                    <a href="{{ asset('img/g3.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g3.jpg')}}" alt=""></a>
                    <a href="{{ asset('img/g6.jpg')}}" class="img-gal"><img class="img-fluid" src="{{ asset('img/g6.jpg')}}" alt=""></a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <center>
            <img class="footer-wassalni" src="{{ asset('img/Logo (1).png')}}" alt="" >
        </center>

        <div class="container">
            <div class="row">
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-home" aria-hidden="true"></i>ESPRIT EL GHAZELA</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><i class="fa fa-phone" aria-hidden="true"></i>+216 99999999</p>
                </div>
                <div class="col-md-4 fo-grid1">
                    <p><a href="mailto:info@example.com"><i class="fa fa-envelope-o" aria-hidden="true"></i>Wassalni@esprit.tn</a></p>
                </div>
                <div class="clearfix"></div>
                <p class="mt-80 mx-auto footer-text col-lg-12">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p>
            </div>
        </div>
        <div>
        <img class="footer-bottom" src="{{ asset('img/footer-bottom.png')}}" alt="">
        </div>
    </footer>
    <!-- End footer Area -->
{% endblock %}

{% block javascripts %}
<script src="{{ asset('js/vendor/jquery-2.2.4.min.js')}}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="{{ asset('js/vendor/bootstrap.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
<script src="{{ asset('js/easing.min.js')}}"></script>
<script src="{{ asset('js/hoverIntent.js')}}"></script>
<script src="{{ asset('js/superfish.min.js')}}"></script>
<script src="{{ asset('js/jquery.ajaxchimp.min.js')}}"></script>
<script src="{{ asset('js/jquery.magnific-popup.min.js')}}"></script>
<script src="{{ asset('js/jquery-ui.js')}}"></script>
<script src="{{ asset('js/jquery.nice-select.min.js')}}"></script>
<script src="{{ asset('js/mail-script.js')}}"></script>
<script src="{{ asset('js/main.js')}}"></script>
{% endblock %}