{% extends 'base.html.twig' %}

{% block body %}
    <h1>Colis list</h1>

    <table>
        <thead>
            <tr>
                <th>Idcolis</th>
                <th>Poids</th>
                <th>Contenu</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coli in colis %}
            <tr>
                <td><a href="{{ path('colis_show', { 'idColis': coli.idColis }) }}">{{ coli.idColis }}</a></td>
                <td>{{ coli.poids }}</td>
                <td>{{ coli.contenu }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('colis_show', { 'idColis': coli.idColis }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('colis_edit', { 'idColis': coli.idColis }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('colis_new') }}">Create a new coli</a>
        </li>
    </ul>
{% endblock %}
