{% extends 'base.html.twig' %}
{% block content %}
    <section class="banner-area relative" id="home">
        <div class="overlay overlay-bg"></div>
        <div class="container">
            <div class="row fullscreen d-flex align-items-center justify-content-between">
                <div class="banner-content col-lg-6 col-md-6 ">
                    <h6 class="text-white ">Besoin d'un tour? Il suffit d'appeler</h6>
                    <h1 class="text-uppercase">
                        99 999 999
                    </h1>
                    <p class="pt-10 pb-10 text-white">
                        Que vous profitiez de séjours en ville ou de vacances prolongées au soleil, vous pouvez toujours améliorer vos expériences de voyage en nous contactons.
                    </p>
                    <a href="#" class="primary-btn text-uppercase">Call for taxi</a>
                </div>
                <div class="col-lg-4  col-md-6 header-right">
                    <br>
                    <br>
                    <br><br>
                    <br>
                    <br>
                    <br>

                    <h4 class="pb-30">Reserver Maintenant</h4>

                    <div class="from-group">
                        {{ form_start(edit_form) }}

                        <div class="key">
                            <label >Point Depart :</label>
                            {{ form_widget(edit_form.pointdepart) }}
                            {{ form_errors(edit_form.pointdepart) }}
                            <div class="clearfix"></div>
                        </div>

                        <br>

                        <div class="key">
                            <label >Destination :</label>
                            {{ form_widget(edit_form.destination) }}
                            {{ form_errors(edit_form.destination) }}
                            <div class="clearfix"></div>
                        </div>

                        <br>


                        <div class="key">
                            <label >Type Reservation :</label>
                            <center>
                                {{ form_widget(edit_form.typeReservation) }}
                                {{ form_errors(edit_form.typeReservation) }}
                                <div class="clearfix"></div>
                            </center>
                        </div>
                        <br>
                        <div class="key">
                            <label >Votre chauffeur :</label>
                            <center>
                                {{ form_widget(edit_form.userChauffeur) }}
                                {{ form_errors(edit_form.userChauffeur) }}
                                <div class="clearfix"></div>
                            </center>
                        </div>

                        <br>
                        <button class="btn btn-default btn-lg btn-block text-center text-uppercase">Editer</button>

                        <br>
                        {{ form_end(edit_form) }}

                        <div>
                            <input type=button class="btn btn-default btn-lg btn-block text-center text-uppercase" onclick=window.location.href="{{ path('reservation_index') }}"; value="Historique" />
                        </div>
                        <br>
                        <div>
                            <input type=button class="btn btn-default btn-lg btn-block text-center text-uppercase" onclick=window.location.href="{{ path('reservation_delete',{ 'id':reservation.id }) }}"; value="Supprimer" />
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </section>
{% endblock %}
