{% extends 'base.html.twig' %}

{% block content %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <center>
    <h1>Votre Reservation</h1>
    <table>
        <tbody>
        
        <tr>
            <th>Destination :</th>
            <td>{{ reservation.destination }}</td>
        </tr>
        <tr>
            <th>Point Depart :</th>
            <td>{{ reservation.pointdepart }}</td>
        </tr>
        <tr>
            <th>Datereservation</th>
            <td>{% if reservation.dateReservation %}{{ reservation.dateReservation|date('Y-m-d H:i:s') }}{% endif %}</td>
        </tr>
        <tr>
            <th>Prix</th>
            <td>{{ reservation.prix }}</td>
        </tr>
        <tr>
            <th>Typereservation</th>
            <td>{{ reservation.typeReservation }}</td>
        </tr>
        <tr>
            <th>Objet</th>
            <td>{{ reservation.objet }}</td>
        </tr>
        <tr>
            <th>Contenu</th>
            <td>{{ coli.contenu }}</td>
        </tr>
        <tr>
            <th>Poids</th>
            <td>{{ coli.poids }}</td>
        </tr>

        </tbody>
    </table>

    <ul>
        <div>
            <input type=button onclick=window.location.href="{{ path('colis_index') }}"; value="Retour au Historique" />
        </div>
        <div>
            <input type=button onclick=window.location.href="{{ path('colis_edit', { 'idColis': coli.idColis }) }}"; value="Editer" />
        </div>
        <div>
            <input type=button onclick=window.location.href="{{ path('colis_delete',{'idColis':reservation.id}) }}"; value="Supprimer" />
        </div>

    </ul>
    </center>
{% endblock %}