{% extends 'base.html.twig' %}

{% block content %}
<section class="home-about-area section-gap">

    <div class="row align-items-center">

        <div class="col-lg-6 about-right">
    <h1>Reclamationvoyage edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('voyage_indexFront') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul></div></div></section>
{% endblock %}
