{% extends 'base.html.twig' %}

{% block content %}
<div style="background-image: url('img_girl.jpg');">

<section class="home-about-area section-gap">

    <div class="row align-items-center">

        <form class="col-lg-6 about-right">

            <a class="text-uppercase primary-btn" href="{{ path('reclamationvoyage_indexFront') }}" target=_blank >Liste des Reclamation</a><br>
            <p>--------------------------</p>
            <tr>
            {% set newArray = [] %}

            {% for reservation in reservations %}
                                                {% for voyage in voyagesD %}
                                                    {% if voyage.dateVoyage|date('d/m/Y H:i:s') not in newArray %}

                                                    {% if voyage.reservationRes ==reservation %}
                                                        {% if voyage.reservationRes.userClient==idconnected %}


                                                        <h1>Voyage : {{ app.user }}</h1>
                                                        <h4>distance : {{ voyage.distance }} metres</h4>
                                                        <h4 id="datetime" > date : {{ voyage.dateVoyage|date('d/m/Y H:i:s') }}</h4>
                                                        <h4> reservation : {{ reservation.destination }}</h4>
                                                        <td>
                                                            <ul>
                                                                <li>
                                                                    <a class="text-uppercase primary-btn" href="{{ path('reclamationvoyage_new', { 'idVoyage': voyage.idVoyage }) }}">Reclamation</a>
                                                                </li>
                                                            </ul>
                                                        </td>

                                                            <p>-------------------------------------------------------------------</p>
                                                            {% set newArray = newArray|merge([voyage.dateVoyage|date('d/m/Y H:i:s')]) %}
                                                        {% endif %}

                                                    {% endif %}
                                                {% endif %}
                                            {% endfor %}
                                        {% endfor %}

            {% for reservation in reservations %}
                {% for voyage in voyages %}
                    {% if voyage.dateVoyage|date('d/m/Y H:i:s') not in newArray %}
                    {% if voyage.reservationRes ==reservation %}
                        {% if voyage.reservationRes.userClient==idconnected %}


                                <h1>Voyage : {{ app.user }}</h1>
                                <h4>distance : {{ voyage.distance }} metres</h4>
                                <h4><p id="datetime" > date : {{ voyage.dateVoyage|date('d/m/Y H:i:s') }}</p></h4>
                                <h4> reservation : {{ reservation.destination }}</h4>
                                <td>
                                    <form id="Annuler" action="/src/VoyageBundle/Controller/VoyageController.php" method="POST">
                                    <ul>
                                        <li>
                                            <a class="text-uppercase primary-btn" href="{{ path('voyage_show', { 'idVoyage': voyage.idVoyage }) }}" target=_blank >Annuler</a>
                                        </li>
                                        <br>
                                        <li>
                                            <a class="text-uppercase primary-btn" href="{{ path('voyage_map', { 'idVoyage': voyage.idVoyage }) }}" target=_blank >ViewMap</a>
                                        </li>

                                    </ul>
                                    </form>
                                </td>

                            <p>-------------------------------------------------------------------</p>
                            {% set newArray = newArray|merge([voyage.dateVoyage|date('d/m/Y H:i:s')]) %}
                        {% endif %}
                        {% endif %}
                    {% endif %}
                {% endfor %}

            {% endfor %}

        </form></div></section></div></tr>

{% endblock %}
