{% extends 'base.html.twig' %}
{% block content %}

<section class="home-about-area section-gap">

    <div class="row align-items-center">

        <div class="col-lg-6 about-right">


        <h1>Voyage</h1>

    <table>
        <tbody>
            <tr>
                <th>Idvoyage</th>
                <td>{{ voyage.idVoyage }}</td>
            </tr>
            <tr>
                <th>Distance</th>
                <td>{{ voyage.distance }}</td>
            </tr>
            <tr>
                <th>Datevoyage</th>
                <td>{{ voyage.dateVoyage|date('d/m/y h:m:s') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

        </div></div></section>
{% endblock %}
